// Import page-specific CSS files here.
@import "home";
@import "products";
@import "reviews";
@import "my_products";
@import "_new";

.products-photo {
  margin-bottom: 16px;
}

.card-img-top.my_product_image {
  width: 100%;
  max-width: initial;
}


.card-block.p-3 {
  p {
    font-size: 16px;
  }
}

.card.mb-2 {
  border-radius: 16px;
}
