.my_roducts_page {
  margin: 32px 0 16px 16px;

}

.my_roducts_container {
  display: flex;
  flex-flow: column;
  hr {
    border-top: 1px solid #887048;
    width: 80%;
  }
  .add_new_roduct {
    margin-top: 16px;
  }
}

.my_roduct_image {
  max-width: 260px;
  border-radius: 16px;
}

.roduct_row {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}



.photo {
  margin: 0 32px 16px 0;
}
