
<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
   <h2 class="display-1 pt-5">Modifier votre reservation</h2>
  </div>
</div>

  <h1>Éditer ma réservation</h1>
<div class="container d-flex flex-column card p-4 mb-4 shadow w-50 mx-auto">
    <div class="row">
      <%= simple_form_for [@booking] do |f| %>
      <div class="col-md-auto">
        <%= f.input :start_date, label: 'Date de début souhaitée', as: :date, html5: true, order: [:day, :month, :year]  %>
      </div>
      <div class="col-md-auto">
        <%= f.input :end_date, label: 'Date de fin souhaitée', as: :date, html5: true,order: [:day, :month, :year] %>
      </div>
      <div class="col text-center mt-5">
        <%= f.submit "Faire une demande", class: "btn btn-success" %>
      </div>
      <% end %>
    </div>
</div>
