<h1>Mes réservations</h1>

  <% if @bookings.empty? %>
    <p>Vous n'avez pas encore de réservations</p>
  <% else %>
<div class="box d-flex flex-column">
    <h2>En cours</h2>
    <% @bookings.each do |booking| %>
        <div class="d-flex flex-column card card-title card-category card-large">
          <%= booking.product.title %>
          <%= booking.product.price %>€/semaine
          <%= link_to %>
          <%# <%= booking.status %>
        </div>
      <% end %>
    <% end %>
</div>
