<h1>Mes réservations</h1>

  <% @bookings.each do |booking| %>
  <div class="d-flex flex-column card card-title card-category card-large">
  <%= booking.product.title %>
  <%= booking.product.price %>€/semaine
  </div>
  <% end %>
