
<div>
<h1>Bienvenue à Bric® City !</h1>
<p> Population : Une multitude de minifigurines plus impressionnantes les unes que les autres.</p>
<p>Fais comme chez toi.</p>
</div>

<button type="button" class="btn btn-outline-primary"><a class="nav-link" href="<%= products_path %>">Produits</a></button>
