
<section class="banner" style="height: 100vh; width: 100%">
  <div class="banner-content">
    <h1>Construire à l'infini</h1>
    <%# <h2>En louant des lego proche de chez soi.</h2> %>
    <p><span data-controller="typed-js"></span></p>
    <%= link_to "Découvrir",  products_path, class: "banner-button" %>
  </div>
</section>
