<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
   <h1 class="display-1 pt-5">Home page</h1>
  </div>
</div>
<div class="card pt-5 md-5 text-center">
<h1>Bienvenue à Bric® City !</h1>
<p> Population : Une multitude de minifigurines plus impressionnantes les unes que les autres. Fais comme chez toi
</p>
</div>
