.navbar-lewagon {
  justify-content: space-between;
  background: rgb(215, 221, 251);
  padding: 20px;
  padding-right: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.container {
  max-width: 100%;
  height: auto;
}

.dropdown-menu, .dropdown-item {
  padding-right: 40px;
}
