@media only screen and (min-width: 768px) {
  .products-map-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  .product-cards {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .products-map-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
  .product-cards {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
}

.photo {
  width: 50%;
  height: 50%;
  object-fit: cover;
}
