<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
   <h1 class="display-1 pt-5">Products</h1>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
  <% @products.each do |product| %>
    <div class="card border-light h-100" style="max-width: 18rem;">
      <div class="card-img-top">
        <div class="card-body justify-content-center">
          <%= cl_image_tag product.photo.key, class: 'photo' %>
            <h5 class="card-title"><%= product.title %></h5><br>
            <p class="card-text"><%= product.description %></p><br>
            <a href="#" class="rounded-pill btn btn-outline-warning">Buy it</a>
            <a href="#" class="rounded-pill btn btn-outline-success">To rent</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
