<%= link_to "⬅️ Retour aux produits", products_path %><br>
<br>

<div>
    <h2 class="card-text"><%= @product.title %></h2><br>
    <p class="card-text"><%= @product.description %></p><br>
    <p class="card-text"><%= @product.price %></p><br>
    <a href="#" class="rounded-pill btn btn-outline-success">Louer</a>
</div>
